/* css reset and global styles */

/* MOBILE STYLES */

.weatherApp {
  font-family: Helvetica, sans-serif;
  background: linear-gradient(
    180deg,
    rgb(7, 16, 59) 4%,
    rgba(50, 8, 35, 1) 59%,
    rgb(27, 11, 2) 100%
  );
  padding: 40px 10px 10px 10px;
}

.tablo {
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  padding: 15px;
  color: rgb(229, 226, 226);
  font-size: 25px;
  font-weight: 700;
}
.locationImg {
  margin-right: 5px;
}
.weekWeather {
  justify-content: center;
  display: grid;
  font-weight: 400;
  grid-template-columns: repeat(1, 330px);
}
.weatherCard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  align-items: center;
  margin-top: 5px;
  border-bottom: 1px solid rgb(63, 42, 56);
  color: #fff;
  font-size: 24px;
}
.dateTime {
  padding: 5px 10px 5px 10px;
  font-size: 22px;
  text-transform: uppercase;
}
.dayOfTheWeek {
  margin-bottom: 5px;
  font-weight: 500;
}
.date {
  font-size: 12px;
  opacity: 0.5;
}
.tempItem {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, 40px);
}
.umbrellaItem {
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(2, 30px);
}
.rain {
  margin-right: 30px;
}
.temperature {
  margin-left: 10px;
  margin-top: 18px;
}

.temperatureImg {
  opacity: 0.35;
  margin-top: 6px;
  padding: 0;
  width: 55px;
}
.umbrellaImg {
  opacity: 0.3;
}

/* DESKTOP STYLES */
@media (min-width: 800px) {
  .weatherApp {
    padding-bottom: 40px;
  }
  .weekWeather {
    grid-template-columns: repeat(8, 90px);
    grid-column-gap: 2px;
    justify-content: center;
  }
  .weatherCard {
    border: 1px solid rgb(63, 42, 56);
    grid-template-columns: 0;
    display: block;
    padding: 13px;
    justify-content: center;
  }
  .dateTime {
    margin: 0;
    justify-content: center;
  }
  .tempItem {
    grid-template-columns: repeat(1, 40px);
    margin: 0;
    margin-top: 20px;
  }
  .temperatureImg {
    margin-left: 2px;

    margin-bottom: 0;
    padding: 0;
  }
  .temperature {
    margin-top: -20px;
    padding: 0;
  }

  .umbrellaItem {
    grid-template-columns: repeat(1, 45px);
    justify-content: center;
    padding-top: 15px;
    margin: 0;
  }
  .umbrellaImg {
    margin-left: 8px;
    margin-bottom: 3px;
  }
}
