/* css reset and global styles */

/* MOBILE STYLES */

.weatherForToday-container {
  display: grid;
  justify-content: center;
}
.weatherForToday_border {
  border-bottom: 1px solid rgb(255, 255, 255, 0.05);
}
.weatherForToday {
  color: #fff;
  display: grid;
  justify-content: center;
  padding-bottom: 15px;
  margin-bottom: 40px;
  width: 330px;
  margin-top: -40px;
}
.weatherForToday img {
  width: 260px;
  color: #fff;
  opacity: 0.2;
}
.dayAndTemp-container {
  margin-top: -30px;
  display: grid;
  /* justify-content: center; */
  grid-template-columns: repeat(2, 60px);
  grid-column-gap: 30px;
  margin-left: 35px;
}
.dateToday-Item {
  /* text-align: center; */
  display: grid;
  justify-content: center;
  margin-top: 7px;
}
.weekDayToday {
  font-size: 18px;
}
.dateDayToday {
  display: grid;
  justify-content: center;
  /* margin-left: 5px; */
  font-size: 14px;
  opacity: 0.4;
  text-transform: uppercase;
}

.tepmToday-Item {
  border-left: 1px solid rgb(255, 255, 255, 0.1);
  padding-left: 20px;
  font-size: 48px;
  font-weight: 500;
}
.tepmToday-Item p span {
  opacity: 0.3;
}

/* DESKTOP STYLES */
@media (min-width: 800px) {
  .weatherForToday_border {
    border: none;
  }
}
